body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
} 

h1 {
  text-align: center;
  color: 333;
  font-size: 40px;
  margin: 20px auto; 
  border-radius: 4px;
}

table {
  border-collapse: collapse;
  width: 100%;
}
  
td, th {
  padding: 10px;
}

th {
  background-color: #22177dcf;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #ffffff;
}

tr:hover td.td {
  transition: 0.4s;
  background-color: #4039817d;
}

th::selection{
  background-color: #b8b8b8;
  color: black;
}

h1::selection, td::selection, i::selection{
  background-color: #4039817d;
  color: black;
}

i {
  cursor: pointer;
}

#ADD {
  position: relative;
}

#ADD::after {
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  content: "ADICIONAR ELEMENTO";
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  white-space: nowrap;
  background-color: #f1f1f1;
  padding: 5px;
  z-index: 1;
}

#ADD:hover::after {
  display: flex;
}

.botoes_edit_elim {
  background-color: #22177dcf;
}

button {
  background-color: #22177dcf;
  color: #ffffff;
  padding: 3px 6px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #4039817d;
  transition: 0.2s;
}

