body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
}

h5 {
    margin: 0;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-weight: 700;
    color: #333;
}

input[type="hidden"] {
    display: none;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1::selection, td::selection, h5::selection{
    background-color: #4039817d;
    color: black;
}

button {
    background-color: #22177dcf;
    color: #ffffff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
button:hover {
    background-color: #4039817d;
    transition: 0.2s;
}

.botoes {
    position: relative;;
    align-items: center;
}
