html {
    font-family: 'Montserrat', sans-serif;
}

* {
    background-color: #f0f0f0;
}

h1 {
  text-align: center;
  color: black;
  font-size: 40px;
  margin: 20px auto; 
  border-radius: 4px;
}

table {
  border-collapse: collapse;
  width: 100%;
}
  
td, th {
  padding: 10px;
}

th {
  background-color: #22177dcf;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #ffffff;
}

tr:hover td  {
  transition: 0.4s;
  background-color: #4039817d;
  cursor: pointer;
}

th::selection{
  background-color: #b8b8b8;
  color: black;
}
