<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\..\VIEW\1CSS\sobre.css">
    <link rel="stylesheet" href="..\..\VIEW\1CSS\footer.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&family=Poppins:wght@500;600;700&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Projeto</title>
</head>
<body>
    <div class="container">
        <h1>Projeto</h1>
        <button type="button" onclick="JavaScript:location.href='menu.php'">
            <i class="material-icons">arrow_back</i>
        </button>

    </div>
    <div class="container-2">
        <p>
                O trabalho desenvolvido para a faculdade consistiu na criação de um sistema utilizando PHP, HTML, CSS, JavaScript e um banco de dados. 
            O principal objetivo foi desenvolver uma aplicação capaz de acessar e manipular os dados das tabelas "clientes" e "produtos" presentes 
            no banco de dados.
            <br><br>
                Para alcançar esse objetivo, foram utilizadas diversas tecnologias. O PHP foi a linguagem de programação escolhida para a implementação
            da lógica do sistema, enquanto o HTML e o CSS foram utilizados para a criação da interface visual. O JavaScript foi responsável por adicionar 
            interatividade e funcionalidades adicionais ao sistema. Além disso, o banco de dados MySQL foi utilizado para armazenar os dados dos clientes 
            e produtos.
            <br><br>
            Durante o desenvolvimento do projeto, foram encontrados alguns desafios. Foram enfrentados diversos erros de codificação, que variavam entre 
            erros simples e outros mais complexos. No entanto, foi possível superar esses desafios por meio de revisões frequentes e testes exaustivos. 
            Em alguns casos, foi necessário recomeçar o projeto do zero, a fim de corrigir problemas fundamentais e garantir o funcionamento adequado do sistema.
            <br><br>
            O trabalho foi desenvolvido individualmente ou em grupo, não mencionando essa informação específica. No entanto, independentemente do formato, o projeto 
            demonstrou um nível de complexidade considerável, exigindo a aplicação dos conhecimentos adquiridos ao longo do curso.
            <br><br>
            No final do trabalho, foram alcançados resultados satisfatórios. O sistema foi capaz de acessar as tabelas do banco de dados, permitindo a adição, remoção e edição de elementos como clientes e produtos. A aplicação demonstrou um bom desempenho e uma interface amigável, atendendo aos requisitos estabelecidos no início do projeto.
        </p>

    </div>
    <footer>
        <span>
            © Caio Quinteiro e Nilton Duarte, 2023 - Todos os direitos reservados
        </span>
    </footer>
</body>
</html>